@charset "UTF-8";
.l-dda-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
}

.c-dda {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.c-dda__form {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}
.c-dda__inputs {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.c-dda__point {
  width: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 8px 16px;
  box-shadow: -2px -2px 5px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 8px;
}
.c-dda__point:not(:first-child) {
  margin-left: 8px;
}
.c-dda__point-title {
  margin: 0;
  font-size: 18px;
}
.c-dda__point-inputs {
  margin-top: 16px;
  display: flex;
  align-items: center;
}
.c-dda__form-group {
  display: flex;
  align-items: center;
}
.c-dda__form-label {
  margin-right: 5px;
}
.c-dda__input {
  width: 100%;
  border-width: 1px;
  border-radius: 5px;
}
.c-dda__submit {
  cursor: pointer;
  border: none;
  margin-top: 8px;
  padding: 10px 30px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: SlateBlue;
  border-radius: 5px;
  transition: transform 150ms;
}
.c-dda__submit:hover {
  transform: scale(1.05);
}
.c-dda__submit:active {
  background: #584aaf;
}

.c-dda-canvas {
  flex: 1;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.l-bresenham-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
}

.c-bresenham {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.c-bresenham__form {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}
.c-bresenham__inputs {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.c-bresenham__point {
  width: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 8px 16px;
  box-shadow: -2px -2px 5px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 8px;
}
.c-bresenham__point:not(:first-child) {
  margin-left: 8px;
}
.c-bresenham__point-title {
  margin: 0;
  font-size: 18px;
}
.c-bresenham__point-inputs {
  margin-top: 16px;
  display: flex;
  align-items: center;
}
.c-bresenham__form-group {
  display: flex;
  align-items: center;
}
.c-bresenham__form-label {
  margin-right: 5px;
}
.c-bresenham__input {
  width: 100%;
  border-width: 1px;
  border-radius: 5px;
}
.c-bresenham__submit {
  cursor: pointer;
  border: none;
  margin-top: 8px;
  padding: 10px 30px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: SlateBlue;
  border-radius: 5px;
  transition: transform 150ms;
}
.c-bresenham__submit:hover {
  transform: scale(1.05);
}
.c-bresenham__submit:active {
  background: #584aaf;
}

.c-bresenham-canvas {
  flex: 1;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.l-circle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
}

.c-circle {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.c-circle__form {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}
.c-circle__inputs {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.c-circle__point {
  width: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 8px 16px;
  box-shadow: -2px -2px 5px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 8px;
}
.c-circle__point:not(:first-child) {
  margin-left: 8px;
}
.c-circle__point-title {
  margin: 0;
  font-size: 18px;
}
.c-circle__point-inputs {
  margin-top: 16px;
  display: flex;
  align-items: center;
}
.c-circle__form-group {
  display: flex;
  align-items: center;
}
.c-circle__form-label {
  margin-right: 5px;
}
.c-circle__form-label {
  margin-right: 5px;
}
.c-circle__input {
  width: 100%;
  border-width: 1px;
  border-radius: 5px;
}
.c-circle__submit {
  cursor: pointer;
  border: none;
  margin-top: 8px;
  padding: 10px 30px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: SlateBlue;
  border-radius: 5px;
  transition: transform 150ms;
}
.c-circle__submit:hover {
  transform: scale(1.05);
}
.c-circle__submit:active {
  background-color: #584aaf;
}

.c-circle-canvas {
  flex: 1;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.l-srusrd-container {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.c-srusrd {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.c-srusrd__form {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}
.c-srusrd__limit-cards {
  display: flex;
  max-width: 100%;
  justify-content: center;
}
.c-srusrd__card {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  box-shadow: -2px -2px 5px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 8px;
}
.c-srusrd__card--limit:not(:first-child) {
  margin-left: 8px;
}
.c-srusrd__card-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 18px;
}
.c-srusrd__form-row {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
.c-srusrd__form-group--inline {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 5px;
  align-items: center;
}
.c-srusrd__form-group:not(:first-child) {
  margin-left: 5px;
}
.c-srusrd__form-label {
  font-size: 12px;
  font-weight: bold;
}
.c-srusrd__input {
  width: 100%;
  border-width: 1px;
  border-radius: 5px;
}
.c-srusrd__calculate-cards {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 16px;
  margin-top: 8px;
}
.c-srusrd__submit {
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: SlateBlue;
  border-radius: 5px;
  transition: transform 150ms;
}
.c-srusrd__submit:hover {
  transform: scale(1.05);
}
.c-srusrd__submit:active {
  background: #584aaf;
}
.c-srusrd__submit::after {
  content: "►";
  padding-left: 0.5em;
}

.l-scale-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
}

.c-scale {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.c-scale__form {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}
.c-scale__inputs {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.c-scale__card {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 8px 16px;
  box-shadow: -2px -2px 5px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 8px;
}
.c-scale__card:not(:first-child) {
  margin-left: 8px;
}
.c-scale__card-title {
  margin: 0;
  font-size: 18px;
}
.c-scale__card-inputs {
  margin-top: 16px;
  display: flex;
  align-items: center;
}
.c-scale__form-group {
  display: flex;
  align-items: center;
}
.c-scale__form-label {
  margin-right: 5px;
}
.c-scale__form-label {
  margin-right: 5px;
}
.c-scale__input {
  width: 100%;
  border-width: 1px;
  border-radius: 5px;
}
.c-scale__submit {
  cursor: pointer;
  border: none;
  margin-top: 8px;
  padding: 10px 30px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: SlateBlue;
  border-radius: 5px;
  transition: transform 150ms;
}
.c-scale__submit:hover {
  transform: scale(1.05);
}
.c-scale__submit:active {
  background-color: #584aaf;
}

.c-scale-canvas {
  flex: 1;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.l-translation-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
}

.c-translation {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.c-translation__form {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}
.c-translation__inputs {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.c-translation__card {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 8px 16px;
  box-shadow: -2px -2px 5px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 8px;
}
.c-translation__card:not(:first-child) {
  margin-left: 8px;
}
.c-translation__card-title {
  margin: 0;
  font-size: 18px;
}
.c-translation__card-inputs {
  margin-top: 16px;
  display: flex;
  align-items: center;
}
.c-translation__form-group {
  display: flex;
  align-items: center;
}
.c-translation__form-label {
  margin-right: 5px;
}
.c-translation__form-label {
  margin-right: 5px;
}
.c-translation__input {
  width: 100%;
  border-width: 1px;
  border-radius: 5px;
}
.c-translation__submit {
  cursor: pointer;
  border: none;
  margin-top: 8px;
  padding: 10px 30px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: SlateBlue;
  border-radius: 5px;
  transition: transform 150ms;
}
.c-translation__submit:hover {
  transform: scale(1.05);
}
.c-translation__submit:active {
  background-color: #584aaf;
}

.c-translation-canvas {
  flex: 1;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.l-rotation-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
}

.c-rotation {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.c-rotation__form {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}
.c-rotation__inputs {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.c-rotation__card {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 8px 16px;
  box-shadow: -2px -2px 5px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 8px;
}
.c-rotation__card:not(:first-child) {
  margin-left: 8px;
}
.c-rotation__card-title {
  margin: 0;
  font-size: 18px;
}
.c-rotation__card-inputs {
  margin-top: 16px;
  display: flex;
  align-items: center;
}
.c-rotation__form-group {
  display: flex;
  align-items: center;
}
.c-rotation__form-label {
  margin-right: 5px;
}
.c-rotation__form-label {
  margin-right: 5px;
}
.c-rotation__input {
  width: 100%;
  border-width: 1px;
  border-radius: 5px;
}
.c-rotation__submit {
  cursor: pointer;
  border: none;
  margin-top: 8px;
  padding: 10px 30px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: SlateBlue;
  border-radius: 5px;
  transition: transform 150ms;
}
.c-rotation__submit:hover {
  transform: scale(1.05);
}
.c-rotation__submit:active {
  background-color: #584aaf;
}

.c-rotation-canvas {
  flex: 1;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: #ebf5fc;
}

.l-divisor {
  display: flex;
  min-height: 100vh;
}

.c-menu {
  background-color: SlateBlue;
  padding: 8px;
  display: flex;
  flex-direction: column;
  border-radius: 0 5px 5px 0;
  min-width: fit-content;
}
.c-menu__button {
  cursor: pointer;
  border: none;
  text-align: left;
  border-radius: 5px;
  padding: 8px;
  background-color: inherit;
  color: white;
}
.c-menu__button:hover {
  background-color: DarkSlateBlue;
}
.c-menu__button--selected {
  background-color: DarkSlateBlue;
}

.l-view-container {
  flex: 1;
}

.js-view {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
